.button {
    background-color: #21243D;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    padding: 12px 20px;
    text-transform: uppercase;
    &__disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}