.header {
    &__group {
        display: flex;
        align-items: baseline;
        margin: 24px 0 32px;

        @media (max-width: 768px) {
            margin: 8px 0 16px;
        }
    }

    &__date {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
        background: #FF7C7C;
        padding: 0 12px;
        border-radius: 16px;
    }

    &__list {
        display: flex;
        margin-left: 18px;

        &_item {
            font-weight: 400;
            font-size: 20px;
            line-height: 29px;
            color: #21243D;

            &:not(:last-child) {
                margin-right: 5px;

                &:after {
                    content: ',';
                }
            }
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

    &__img {
        position: relative;
        margin-top: 32px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            margin-top: 16px;
        }

        &:before {
            content: ' ';
            padding-bottom: 60%;
            display: block;
        }
    }

    &__photo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.content {
    &__text {
        margin-top: 32px;

        @media (max-width: 768px) {
            margin-top: 12px;
        }

        &>div {
            &:not(:last-child) {
                margin-bottom: 32px;

                @media (max-width: 768px) {
                    margin-bottom: 12px;
                }
            }
        }
    }

    &__images {
        margin-top: 32px;

        @media (max-width: 768px) {
            margin-top: 12px;
        }

        &>div {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
}

.block {
    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 40px;
        color: #21243D;

        @media (max-width: 425px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;

        @media (max-width: 425px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__img {
        position: relative;
        width: 100%;
        display: flex;

        &:before {
            content: ' ';
            padding-bottom: 100%;
            display: block;

            @media (max-width: 768px) {
                padding-bottom: 50%;
            }
        }
    }

    &__pic {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.comments {
    margin-top: 60px;

    &__wrapper {
        &:first-child {
            margin-bottom: 60px;
        }
    }

    &__title {
        padding-bottom: 12px;
        margin-bottom: 32px;
        font-weight: 900;
        font-size: 34px;
        line-height: 50px;
        color: #21243D;
        border-bottom: 1px solid #E0E0E0;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 22px;
        line-height: 40px;
        color: #21243D;
    }

    &__group {
        display: flex;
        gap: 0 30px;
    }
}