body {
    font-family: 'Heebo';
    & > div {
        height: 100%;
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;
    gap: 0 20px;
}

.body {
    @media (min-width:769px) {
        margin-top: 80px;
    }
}

.wrapper {
    max-width: 880px;
    height: 100%;
    margin: 0px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}