body {
    font-family: 'Heebo';
    & > div {
        height: 100%;
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0;
    &__button {
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #21243D;
        background: transparent;
        &:hover {
            color: #FF6464;
        }
    }
}

.body {
    @media (min-width:769px) {
        margin-top: 80px;
    }
}

.wrapper {
    max-width: 880px;
    height: 100%;
    margin: 0px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}